<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cordova.letscode.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quasar App</name>
    <description>A Quasar Project</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <icon src="favicon-96x96.png" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/favicon-96x96.png" />
    </platform>
    <platform name="ios">
        <preference name="scheme" value="app" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <icon height="29" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/29.png" width="29" />
        <icon height="40" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/40.png" width="40" />
        <icon height="57" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/57.png" width="57" />
        <icon height="58" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/58.png" width="58" />
        <icon height="60" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/60.png" width="60" />
        <icon height="80" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/80.png" width="80" />
        <icon height="87" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/87.png" width="87" />
        <icon height="114" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/114.png" width="114" />
        <icon height="120" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/120.png" width="120" />
        <icon height="180" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/180.png" width="180" />
        <icon height="1024" src="res/screen/ios/AppIcons/Assets.xcassets/AppIcon.appiconset/1024.png" width="1024" />
    </platform>
</widget>
